@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

:root {
  --navbar-height: 2rem;
}

/* CSS RESET BEGIN */
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */

body {
  line-height: 1;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    “Segoe UI”,
    “Roboto”,
    “Oxygen”,
    “Ubuntu”,
    “Cantarell”,
    “Fira Sans”,
    “Droid Sans”,
    “Helvetica Neue”,
    sans-serif;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.full-h {
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
  border: 2px solid #fff;
  border-left: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  background-color: #fffc;
  cursor: pointer;
}

.nav-btn:hover {
  text-decoration: underline;
}

.nav-btn-active {
  border-bottom: none;
  text-shadow: 0 0 0.5rem #222c;
  color: #fff;
  background-color: transparent;
}

/* HOME PAGE */
.home-page {
  background-image: linear-gradient(#0000, #0008), url('/src/assets/images/bg-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid #fff;
}

.home-wrapper {
  align-items: center;
}

.home-heading {
  padding-top: 6rem;
  padding-bottom: 4rem;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: 6rem;
  text-shadow: 0 0 0.5rem #222c;
  color: #fff;
}

.home-description {
  max-width: 75%;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 0.5rem #222c;
  color: #fff;
}

.home-order-btn {
  margin-top: 6rem;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.home-order-btn:hover {
  background-color: #484;
}

/* MENU PAGE */
.menu-page {
  background-image: linear-gradient(#0008, #0000), url('/src/assets/images/bg-menu.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid #fff;
}

.menu-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 768px;
  margin: 0 auto;
  padding: 8rem 0;
}

.menu-item {
  width: 240px;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

.menu-item-img {
  width: 100%;
}

.menu-item-title,
.menu-item-description {
  padding-top: 0.5rem;
}

.menu-item-title {
  font-weight: bold;
}

/* CONTACT PAGE */
.contact-page {
  background-image: linear-gradient(#0008, #0000), url('/src/assets/images/bg-contact.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid #fff;
}

.contact-wrapper {
  max-width: 75%;
  padding-top: 8rem;
  margin: 0 auto;
}

.contact-info {
  max-width: 75%;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-shadow: 0 0 0.5rem #222c;
  color: #fff;
}

.contact-map {
  align-self: center;
  width: 100%;
  height: 360px;
  margin: 4rem 0;
}
